﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/cssAll")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg" style="background-color:rgba(1, 87, 97, 1);box-shadow: 6px 3px 20px 0;padding:2px 25px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" style="max-width:960px;margin:0 auto;" id="navbar">
            <ul class="nav navbar-nav" style="width:100%;text-align:center;font-size:21px;">
                <li style="width:calc(100%/3);"><a class="navLinks" href="#Skills" style="text-decoration:none;"><div>Skills</div></a></li>
                <li style="width:calc(100%/3);"><a class="navLinks" href="#MyWork" style="text-decoration:none;"><div>Portfolio</div></a></li>
                <li style="width:calc(100%/3);"><a class="navLinks" href="#ContactMe" style="text-decoration:none;"><div>Contact</div></a></li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <div id="footer">
        <div class="container" style="max-width:980px;padding:40px 0;">
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("head", required: false)
</body>
</html>
