﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row justify-content-center" style="padding:20px 60px;background-color:#eee;">
    <div style="max-width:1260px;">
        <div class="col-12 text-center" style="margin:auto 0;">
            <video width="998" height="520" controls autoplay>
                <source src="~/Video/AetnaProject.mp4" type="audio/mp4" />
            </video>
        </div>
        <div class="col-12 justify-content-center" style="max-width:760px;margin:0 auto">
            <div class="card-header mb-3">AETNA Project</div>
            <div class="card-body">
                <div class="card-text">
                    Gathered requirements, designed prototype web pages, developed both the front end and the back end, worked with security management team and provided demos to upper management, and gave application support to clients dealing with the application.
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row justify-content-center text-left" style="padding:20px 60px;background-color:#f4f7f6">
    <div style="max-width:1260px;">
        <div class="col-12 text-center">
            <a href="https://cddmedical.com" target="_blank">
                <img class="img-fluid" src="~/Images/CDDWEB.jpg" style="max-height:520px;" />
            </a>
        </div>
        <div class="col-12" style="max-width:760px;margin:0 auto;">
            <div class="card-header mb-3">CDD Corporate Website</div>
            <div class="card-body">
                <div class="card-text">
                    Imported the Center for Disease Detection website from WordPress into ASP .NET MVC and redesigned the website.
                    Worked on getting an SSL Certification for the website along with working with network engineers to deploy to AWS.
                </div>
            </div>
        </div>
    </div>
</div>