﻿@model BriansWebsite.Models.FormData

@{
    ViewBag.Title = "Home Page";
}

@section head {
    <style>
        text {
            font-size:14px;
            margin-left: 2%;
        }
        .col-2 {
            font-size: 18px;
        }
    </style>
    
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("a[href^='#']").on('click', function (event) {
                event.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    scrollTop: $target.offset().top
                }, 800, 'swing', function () {
                    window.location.hash = target;
                });
            });

            $('#phoneNum').keydown(function (e) {
                var key = e.charCode || e.keyCode || 0;
                $text = $(this);
                if (key !== 8 && key !== 9) {
                    if ($text.val().length === 3) {
                        $text.val($text.val() + '-');
                    }
                    if ($text.val().length === 7) {
                        $text.val($text.val() + '-');
                    }

                }

                return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
            })
        });
    </script>
    
}


<div class="row" style="min-height:400px;background-color:rgba(1, 87, 97, 1);">
    <div class="col-lg-6" style="margin:auto 0;">
        <img class="img-fluid" src="~/Images/BrianGarzaEdit.jpg" style="float:right;border-radius:50%;height:250px;width:250px;" />
    </div>
    <div class="col-lg-6" style="margin:auto 0;padding-left:20px;">
        <h4 style="color:#F7DC4F;">Hi, I'm</h4>
        <h1 style="color:#FFFFFF;font-size:65px;padding-left:20px;font-weight:bold;">Brian</h1>
        <h1 style="color:#FFFFFF;font-size:65px;padding-left:40px;font-weight:bold;">Garza</h1>
        <p style="color:#FFFFFF;">Software Developer</p>
    </div>
</div>


<div class="row justify-content-center text-center" style="background-color:#c3c3c3;padding:80px 0;">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h1 style="color:rgba(1, 87, 97, 1);font-weight:bold;">About Me</h1>
        <p style="line-height:2em;font-size:22px;">
            @* Where I describe myself *@
        </p>
        <p style="line-height:2em;font-size:22px;margin-bottom:50px;">
            I am a Web Developer whose focus is on building web & mobile user experiences. I am looking to work with an awesome team in an environment that helps me grow as a software developer. I currently specialize in ReactJS and am working towards becoming a full-stack engineer.
        </p>
        <a id="ResumeButton" href="~/Images/GARZA,BRIAN A (1) (1)-converted.pdf" download="Brian Garza Resume">View Full Resume</a>
    </div>
</div>


<div class="row justify-content-center" id="Skills">
    <div class="col-lg-7">

        <h1 class="text-center" style="font-size: 60px;letter-spacing:10px;">PROFESSIONAL</h1>
        <h2 class="text-center" style="margin-bottom:120px;letter-spacing:6px;">Top Technologies</h2>
        <div class="row mb-5">
            <div class="col-2">ASP.NET</div>
            <div class="col-10" style="margin:auto 0;display:inline-flex;">
                <div style="height:17px;width:80%;background-color:rgba(0, 214, 70, 1);border-radius:5px;float:left;"></div>
                <text>80%</text>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">React.js</div>
            <div class="col-10" style="margin:auto 0;display:inline-flex;">
                <div style="height:17px;width:70%;background-color:rgba(0, 214, 70, 1);border-radius:5px;float:left;"></div>
                <text>70%</text>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">C#</div>
            <div class="col-10" style="margin:auto 0;display:inline-flex;">
                <div style="height:17px;width:85%;background-color:rgba(0, 214, 70, 1);border-radius:5px;float:left;"></div>
                <text>85%</text>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">Javascript</div>
            <div class="col-10" style="margin:auto 0;display:inline-flex;">
                <div style="height:17px;width:90%;background-color:rgba(0, 214, 70, 1);border-radius:5px;float:left;"></div>
                <text>90%</text>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">Jquery</div>
            <div class="col-10" style="margin:auto 0;display:inline-flex;">
                <div style="height:17px;width:75%;background-color:rgba(0, 214, 70, 1);border-radius:5px;float:left;"></div>
                <text>75%</text>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">HTML5 & CSS</div>
            <div class="col-10" style="margin:auto 0;display:inline-flex;">
                <div style="height:17px;width:90%;background-color:rgba(0, 214, 70, 1);border-radius:5px;float:left;"></div>
                <text>90%</text>
            </div>
        </div>

    </div>
</div>

<div class="row justify-content-around text-center" style="background-color:#989898 ;min-height:900px;padding:80px 0;" id="MyWork">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-12" style="margin-bottom:50px;">
                <h1 style="font-size: 60px;letter-spacing:10px;color:rgba(1, 87, 97, 1);">PORTFOLIO</h1>
                <h2 style="margin-bottom:55px;color:rgba(1, 87, 97, 1);">My Latest Work</h2>
            </div>
            <div class="col-lg-4">
                <a href="https://www.cddmedical.com/" target="_blank"><img src="~/Images/CDDWebsite.jpg" class="img-fluid img-all" /></a>
                @*<p style="color:rgba(247, 220, 79, 1);">CDD WEBSITE</p>*@
            </div>
            <div class="col-lg-4">
                <a href="~/Video/AetnaProject.mp4" target="_blank"><img src="~/Images/AetnaProject.jpg" class="img-fluid img-all" /></a>
                <a href="https://lcaaetna.labcorp.com/" target="_blank"><p style="font-size:20px;color:rgba(247, 220, 79, 1);margin-top:7px;">TO AETNA APP -></p></a>
                
            </div>
            <div class="col-lg-4">
                <a href="https://secret-wildwood-85355.herokuapp.com/" target="_blank"><img src="~/Images/DjangoApp.jpg" class="img-fluid img-all" /></a>
                @*<p style="color:rgba(247, 220, 79, 1);">TEAMSPACE APP</p>*@
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center" style="min-height: 600px;background-color:#505050" id="ContactMe">
    <div class="col-lg-7" id="sendInfo" style="margin-top:-30px;padding-top:80px;padding-right:80px;padding-left:80px;box-shadow:-5px -5px 20px 0px;">
        <div class="row mb-5">
            <div class="col-lg-6" style="color:#FFFFFF;">
                <h2 style="margin-bottom:50px;">Contact Me</h2>
                <p style="margin-bottom:30px;">Feel free to contact me! I'm avaiable to email or call/text for job inquiries</p>
                <p><i class="fas fa-phone"></i> 214-492-9832</p>
                <p><i class="far fa-envelope"></i> briangarzat926@gmail.com</p>
            </div>
            <div class="col-lg-6 text-center" style="padding:0 !important;">
                @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                <fieldset>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "inputValue", @placeholder = "First name", @style = "width:48%;" })
                    @Html.TextBoxFor(x => x.LastName, new { @class = "inputValue", @placeholder = "Last name", @style = "width:48%;margin-bottom:15px;" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "inputValue", @placeholder = "example@example.com", @style = "width:97%;margin-bottom:15px;", @type = "email" })
                    @Html.TextBoxFor(x => x.PhoneNum, new { @class = "inputValue", @id = "phoneNum", @placeholder = "222-222-2222", @style = "width:97%;margin-bottom:15px", @maxlength = "12", @pattern = ".{0}|.{12,}" })
                    @Html.TextAreaFor(x => x.Message, new { @class = "inputValue", @placeholder = "Message", @style = "min-height:120px;width:97%;padding-top:13px;margin-bottom:8px;" })
                    <button type="submit" id="FormButton">Send</button>
                </fieldset>
                }
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-9 text-center">
                <a href="https://www.linkedin.com/in/brian-garza-761b7897/" target="_blank"><span style="font-size:30px;color:white;margin-right:20px;"><i class="fab fa-linkedin"></i></span></a>
                <a href="https://github.com/Codehook" target="_blank"><span style="font-size:30px;color:white;"><i class="fab fa-github"></i></span></a>

            </div>
        </div>
    </div>
</div>