﻿
@{
    ViewBag.Title = "Resume";
}

@section head {
    <style>
        body {
            background-color: #eee;
        }
        p {
            margin: 0;
        }
        nav.navbar.navbar-expand-lg {
            box-shadow: 0px -4px 20px 0px !important;
            background-color: rgba(1, 87, 97, .8) !important;
        }
        a.navLinks {
            color: #FFFFFF !important;
        }
    </style>    
    
}



<div class="row justify-content-center" style="margin-top:100px;margin-bottom:40px;">
    <div class="col-lg-7">
        <h1 style="font-weight: bold;font-size:70px;">Resume</h1>
    </div>
</div>



<hr class="col-lg-7" />
<div class="row justify-content-center" style="margin: 55px 0;">
    <div class="col-lg-7">
        <div class="row">
            <div style="width:150px;height:150px;background-color:rgba(247, 220, 79, 1);border-radius:50%;padding:60px 43px;">
                <p>Summary</p>
            </div>
            <div class="col-lg-9 m-auto">
                <p style="font-weight:bold;margin-bottom:20px;">Software Develper</p>
                Flexible fast-learner who adapts quickly to new challenges, works well in a team setting, and can be counted on to attain desired results.
                Degreed Software Developer with skills that include Programming and the ability to use strong technical skills and creativity to develop solutions.
            </div>
        </div>
    </div>
</div>

<hr class="col-lg-7" />
<div class="row justify-content-center" style="margin: 55px 0;">
    <div class="col-lg-7">
        <div class="row">
            <div style="width:150px;height:150px;background-color:rgba(247, 220, 79, 1);border-radius:50%;padding:60px 16px;">
                <p>Work Experience</p>
            </div>
            <div class="col-lg-9 m-auto">
                <div class="row">
                    <div class="col-12" style="margin-bottom:40px;">
                        <p><text style="font-weight:bold;">Programming Analyst</text> &#64; <text>LabCorp</text></p>
                        <p style="margin-bottom:20px;">Jun 2018 - Present</p>
                        Created an Enterprise application from start to finish taking part in the prototype development lifecycle. Gathered requirements, provided application support, designed and built the front end as well as the back end, and worked wit Senior security engineers to secure the security of the application.
                        <br />
                        <br />
                        Assisted in many projects ranging from a large scale project called AFTIS which caters to over 100 clients, creating web pages and new features for projects such as Touch for LabCorp, and working on automating processes for the company Aetna. 
                    </div>
                    <div class="col-12" style="margin-bottom:40px;">
                        <p><text style="font-weight:bold;">Web Developer</text> &#64; <text></text>Freelance</p>
                        <p style="margin-bottom:20px;">Jun 2017 - Jun 2018</p>
                        <p>
                            Co-founder of a dating app that seeks to help people make real connections. Web development projects include working in React Native, ReactJS, Javascript, HTML, CSS, MongoDB, SQL, Firebase and Oracle.
                        </p>
                        <br />
                        <p>
                            Working with Next.js, Express.js, SASS/SCSS, Zeit, Javascript, HTML, CSS, JSX.
                        </p>
                    </div>
                    <div class="col-12">
                        <p><text style="font-weight:bold;">Front End Developer &#64; </text><text>UTSA</text></p>
                        <p style="margin-bottom:20px;">Aug 2016 - Dec 2016</p>
                        <p>
                            Worked with a team of developers and QA testers to design, create and build software that produces an enjoyable user experience. Participated in weekly "sprints" discussing all phases of the software-development life cycle to see what needed to be done and by when. Designed and built the user experience and worked with our back end engineer to setup web hosting software, data management, and API handling.
                        </p>
                        <br />
                        <p>
                            Tech Stack: Python, Django, Heroku, PostgresSQL, Google Drive API
                        </p>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>

<hr class="col-lg-7" />
<div class="row justify-content-center" style="margin: 55px 0;">
    <div class="col-lg-7">
        <div class="row">
            <div style="width:150px;height:150px;background-color:rgba(247, 220, 79, 1);border-radius:50%;padding:60px 40px;">
                <p>Education</p>
            </div>
            <div class="col-lg-9 m-auto">
                <div class="row">
                    <div class="col-12">
                        <p style="font-weight:bold;">University of Texas at San Antonio</p>
                        <p style="margin-bottom:20px;">Aug 2011 - Jun 2017</p>
                        Attended classes from basic computer programming to more concentrated software engineering. Completed a number of developer projects that included game development, software development, and web development.
                    </div>
                    <br />
                    <h2 class="mb-3 mt-5">Class Projects</h2>
                    <div class="col-12" style="margin-bottom:35px;">
                        <p style="font-weight:bold;">Github Battle App - React web app</p>
                        <p style="margin-bottom:20px;">2018</p>
                        Built a React application using Github search API to fetch the two repositories that were selected to "battle" each other for the highest rating approval. The application also had a feature to return the most popular repositories for specific coding languages. Done in React.js, Javascript, JSX, Zeit, and Express.js.
                    </div>
                    <div class="col-12" style="margin-bottom:35px;">
                        <p style="font-weight:bold;">Teamspace - Django web app</p>
                        <p style="margin-bottom:20px;">2017</p>
                        Used Javascript and Python to create a team collaboration app with event scheduling and file sharing via Google Drive API.
                    </div>
                    <br />
                    <div class="col-12" style="margin-bottom:35px;">
                        <p style="font-weight:bold;">All-Your-Tech-Webstore - Laravel web app</p>
                        <p style="margin-bottom:20px;">2016</p>
                        Created a web app used to sell electronic/tech products to consumers. Gathered requirements needed and did unit testing with Stripe API. Created in Laravel framework with PHP server request handling and Javascript for a light and crisp front end. 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


