﻿body {
    padding-top: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 480px;
}

.navbar a {
    color: #FFFFFF;
}

#ResumeButton {
    background-color: rgba(247, 220, 79, 1);
    border: solid rgba(153, 153, 151, 1) 0;
    font-size: 16px;
    color: rgba(1, 87, 97, 1);
    padding: 11px 26px;
    cursor: pointer;
    font-weight: 600;
    transition: all ease-in-out .4s;
}

    #ResumeButton:hover {
        background-color: rgba(1, 87, 97, 1);
        color: rgba(247, 220, 79, 1);
    }

.navLinks {
    height: 100%;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.navLinks div {
    height: 100%;
    width: 100%;
    padding: 12px 0;
}

    .navLinks:hover {
        background-color: rgba(247, 220, 79, 1);
    }

#Skills {
    padding: 170px 0;
    background: url(../Images/Laptop.jpg) rgb(204, 204, 204);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    color: #FFFFFF;
}

#ContactMe {
    background: url(../Images/PaperPenEdit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 80px;
    background: rgba(51, 59, 80, 1);
}

#sendInfo {
    position: relative;
    bottom: 0;
    max-width: 940px;
    max-height: 570px;
    background: rgba(51, 59, 80, 1);
}

.inputValue {
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#FormButton {
    width: 97%;
    height: calc(2.25rem + 12px);
    color: #FFFFFF;
    border-radius: 0.275rem;
    background-color: rgba(0, 214, 70, 1);
    border: solid rgba(45, 45, 45, 1) 0;
    cursor: pointer !important;
    transition: all 0.4s ease-in-out;
}

#FormButton:hover {
    background-color: rgba(0, 214, 70, .4);
}

.img-all {
    width: 100%;
    height: 275px;
}

#MyWork p {
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .img-all {
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 425px) {
    .img-all {
        width: 125px;
        height: 125px;
    }
}